<nav class="navBar">
    <ul id="bottomNav">
      <LI><a href="#HO"> <span id="secHome">HOME</span></LI>
      <li><a href="#SC">Sathi-Counselling Service</a></li>
      <LI><a href="#RR">Red Ribbon Club</a></LI>
      <LI><a href="#AIC">Academic Intiative Club</a></LI>
      <LI><a href="#SSC">Social Service Club</a></LI>
      <LI><a href="#YEC">Youth Empowerment Club</a></LI>
      <LI><a href="#RRC">Rights & Responsibility Club</a></LI>
    </ul>
  </nav>
