<!-- Side NavBar -->
<nav class="sideNavBar">
    <ul class="sideNav">
      <LI><a href="#"> <span id="contents">Contents</span></LI>
      <li><a href="#">About</a></li>
      <LI><a href="#">Announcements</a></LI>
      <LI><a href="#">Achievements</a></LI>
      <LI><a href="#">Events</a></LI>
    
    </ul> 
    </nav>
    