<!-- Side NavBar -->
<div class="middle">

    
  <div class="col-md-2 ">

      <ul class="nav flex-column  list2">
        <li class="nav-item list ">
          <h4 class ="nav-link text-secondary" aria-current="page" id="contentHead">Contents</h4>
      </li>
          <li class="nav-item list ">
              <a class="nav-link text-secondary" aria-current="page" href="#welfareBoardHeading">About </a>
          </li>
          <li class="nav-item list">
              <a class="nav-link text-secondary" href="#announcement">Announcements</a>
          </li>
          <li class="nav-item list">
              <a class="nav-link text-secondary" href="#achievements">Achievements</a>
          </li>

          <li class="nav-item list">
              <a class="nav-link text-secondary" href="#">Events</a>
          </li>
          

      </ul>

  </div>
  
</div>