 <!-- Top NavBar -->
 <nav class="navBar">
  <ul class="topNav">
    <LI><a href="#WB"><H5 id="welfare">WELFARE BOARD</H5></a></LI>
    <li><a href="#SA">STUDENT AFFAIRS BOARD</a></li>
    <LI><a href="#HAB">HOSTEL AFFAIRS BOARD</a></LI>
    <LI><a href="#TECH">TECHNICAL BOARD</a></LI>
    <LI><a href="#CB">CULTURAL BOARD</a></LI>
    <LI><a href="#SB">SPORTS BOARD</a></LI>
  </ul>
</nav>