*{
  font-family: calibri;
}



.header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:15px;
    
  }
   
   

.text-sm{
      padding: 6px;
      display:inline;
      font-family:calibri ;
 }
    
   

 #welfare{
  display: inline;
  
  color:rgb(255, 255, 255);
  border:3px solid rgb(20, 33, 58)  ;
  background-color:  rgb(20, 33, 58) ;
  padding:10px;
}






.topNav{
  
  display: flex;
  margin-top:30px;
  margin-left:110px;
  list-style-type: none;
 
  
 
}

    
   

    

    .topNav li a{
     
      color: rgb(8, 8, 8);
      text-align: center;
      padding: 14px 16px;
      text-decoration:none;
      
     }


    
    .bottomNav{
      display: flex;
      margin-left:50px;
      list-style-type: none;
     
      
    }

    

    .bottomNav li a {
     
      color: rgb(8, 8, 8);
      text-align: center;
      padding: 14px 16px;
      text-decoration:none;
     
    }
    
    #Home{
      display: inline;
      
      color: blue;
     
    }

 .welcome{
 
 
   margin-left:150px;
   margin-top:120px;
   margin-right:520px;
  
   }

 p{
   font-size: large;
 }

 a:hover{
    
  font-weight: bold;
}

 .sideNav{
  
   float :right;
   margin-top: 140;
   margin-right: 100;
   list-style-type: none;
   font-size: large;
  }


   .sideNav li a {
    
    color: rgb(138, 133, 133);
   
    text-decoration:none;

  }


  #contents{
    font-weight:bolder;
  }
  

 .aboutWelfare{
   margin-top: 20px;
 }

 .ourVision{
   margin-top: 30px;
 }



/*slideshow */

    * {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;

}

/* Slideshow container */
.slideshow-container {
max-width: 1200px;
position: relative;
margin: auto;



}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
text-decoration:none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
background-color: #f1f1f1;
color: black;
}


.card{
  border: 0px  !important;
  border-bottom: 2px solid rgba(0,0,0,.125) !important;;
}
.card-text{
  font-size: smaller;
}

.card-title{
  font-weight: bold;
}

.read_more span{
  color: rgb(18, 18, 73);
  font-size: smaller;
}


.achievements{
  margin-left: 150px;
}
